<form action="/user/update/<%= user.id %>" method="post">
	<input value="<%= user.name %>" name="name" type="text"/>
	<input value="<%= user.title %>" name="title" type="text" />
	<input value="<%= user.email %>" name="email" type="text" />
	<input type="submit" value="Save Changes" />
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
